@media (max-width: 1174px) {
  .header__top {
    padding: 29px 10px;
  }

  .hero-container {
    background-image: url(../img/hero-2.png);
    padding-top: 100px;
    padding-bottom: 132px;
    background-position: 95% 43%;
    background-size: 45%;
    }

  .hero__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 18px;
  }

  .hero__descr {
    margin-bottom: 60px;
  }

  .section-about {
    padding-top: 82px;
    padding-bottom: 60px;
  }

  .about-top {
    padding-left: 240px;
    margin-bottom: 22px;
  }

  .about-top::before {
    background-image: url(../img/benefits1-2.jpg);
    width: 80%;
  }

  .about-title {
    padding-right: 0;
    margin-bottom: 18px;
  }

  .about-descr {
    padding-right: 15px;
  }

  .about {
    padding-left: 15px;
    padding-top: 90px;
    align-items: flex-start;
  }

  .about::before {
    left: 15px;
    top: 0;
  }

  .section-teachers {
    padding-top: 73px;
    padding-bottom: 13px;
    margin-bottom: 20px;
   }

  .teachers-title {
    color: var(--text-color);
    margin-bottom: 26px;
  }

  .teacher-descr {
    padding-right: 0;
    padding-bottom: 22px;
  }

  .section-courses {
    padding-top: 52px;
    padding-bottom: 35px;
  }

  .courses-item {
    position: relative;
    min-height: 556px;
    padding-right: 22px;
    padding-top: 64%;
  }

  .courses-item::before {
    right: 9px;
  }

  .courses-item-1 {
    background-image: url('../img/courses1-2.jpg');
  }

  .courses-item-2 {
    background-image: url('../img/courses2-2.jpg');
    padding-right: 20px;
  }

  .courses-item-3 {
    background-image: url('../img/courses3-2.jpg');
  }

  .courses-item-4 {
    background-image: url('../img/courses4-2.jpg');
  }

  .courses-descr {
    padding-right: 10px;
    margin-bottom: 20px;
  }

  .courses-descr1 {
    padding-right: 0;
  }

  .teachers-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 31px;
}

  .courses-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 17px 55px;
    max-width: 195px;
  }

  .footer__top {
    padding: 26px 11px 28px 11px;
  }
}

@media (max-width: 640px) {
  .header__top {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  .header__logo {
    margin-left: auto;
    padding-bottom: 15px;
  }

  .header__flex {
    flex-direction: column;
  }

  .header__nav {
    padding-top: 15px;
  }

  .section-hero {
    background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
  }

  .hero-container {
    background: none;
    padding-top: 48px;
    padding-bottom: 133px;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__descr {
    margin-bottom: 62px;
  }

  .hero__btn {
    padding: 25px 75px;
  }

  .section-about {
    padding-top: 79px;
    padding-bottom: 40px;
  }

  .about-top {
    padding-left: 180px;
    margin-bottom: 22px;
  }

  .about-top::before {
    background-size: 35%;
    top: 0;
  }

  .about-title {
    margin-bottom: 18px;
  }

  .section-teachers {
    padding: 74px 0 35px 0;
  }

  .teachers-title {
    margin-bottom: 24px;
  }

  .section-courses {
    padding-top: 53px;
    padding-bottom: 35px;
  }

  .courses-heading {
    line-height: 23px;
    margin-bottom: 10px;
  }

  .courses-item {
    min-height: 653px;
    padding-right: 20px;
    padding-top: 89%;
  }

  .courses-item-1 {
    background-image: url('../img/courses1-3.jpg');
  }

  .courses-item-2 {
    background-image: url('../img/courses2-3.jpg');
  }

  .courses-item-3 {
    background-image: url('../img/courses3-3.jpg');
  }

  .courses-item-4 {
    background-image: url('../img/courses4-3.jpg');
  }

  .courses-descr1 {
    padding-right: 11px;
  }

  .courses-btn {
    bottom: 30px;
    left: 30px;
    padding: 17px 47px;
    max-width: 180px;
  }

  .footer__top {
    padding: 27px 26px 27px 26px;
  }
}

@media (max-width: 575px) {
  .header__flex {
    flex-direction: row;
  }

  .header__logo {
    margin-left: 0;
    padding-bottom: 0px;
  }

  .header__btn-open,
  .header__close {
    display: flex;
    padding: 0;
  }

  .header__close {
    position: absolute;
    top: 24px;
    right: 15px;
    background-color: #2F2C45;
    margin-bottom: 22px;
  }

  .header {
    position: relative;
    overflow: hidden;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #2F2C45;
    padding-left: 15px;
    padding-top: 76px;
    width: 100%;
    opacity: 0;
    transform: translateX(120%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    z-index: 100;
  }

  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__link {
    margin-bottom: 56px;
  }

  .flex {
    position: static;
  }

  .header__container {
    padding: 0;
  }

  .header__top {
    padding: 23px 0;
  }

  .header__logo img {
    height: 16px;
  }

  .hero {
    padding-right: 0;
  }

  .hero-container {
    padding-top: 22px;
    padding-bottom: 50px;
    }

  .hero__title {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 30px;
  }

  .hero__descr {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 43px;
  }

  .hero__btn {
    font-size: 16px;
    line-height: 19px;
    padding: 20px 53.5px;
  }

  .about-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 3px;
  }

  .teachers-item img {
    max-width: 120%;
    margin-left: -15px;
  }

  .about:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .section-about {
    padding: 49px 0;
    padding-bottom: 22px;
  }

  .about-top {
    padding-left: 0;
    margin-bottom: 22px;
  }

  .about-top::before {
    display: none;
  }

  .about {
    padding-left: 125px;
    padding-top: 2px;
    padding-bottom: 13px;
    align-items: center;
  }

  .about::before {
    left: 15px;
    top: 0;
  }

  .about:not(:last-child) {
    margin-bottom: 20px;
  }

  .section-teachers {
    padding-top: 45px;
    padding-bottom: 8px;
  }

  .teachers-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 28px;
  }

  .teachers-item img {
    max-width: 100%;
    margin-left: 0;
  }

  .section-courses {
    padding-top: 26px;
    padding-bottom: 7px;
  }

  .courses-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .courses-heading {
    padding-right: 30px;
    margin-bottom: 10px;
  }

  .courses-item {
    padding-top: 74%;
    padding-bottom: 28px;
  }

  .courses-item-1 {
    background-image: url('../img/courses1-4.jpg');
  }

  .courses-item-2 {
    background-image: url('../img/courses2-4.jpg');
  }

  .courses-item-3 {
    background-image: url('../img/courses3-4.jpg');
    padding-right: 30px;
  }

  .courses-item-4 {
    background-image: url('../img/courses4-4.jpg');
  }

  .courses-btn {
    bottom: 28px;
    padding: 17px 55px;
    max-width: 195px;
  }

  .footer__top {
    padding: 26px 28px 28px 22px;
  }
}
